.list-view {
    width: 100%;
}

.alert {
    margin-bottom: 0;
}
.is_debug {
    display: block;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.has-error .help-block{
    color:red;
    font-size: 14px;
}
.hidden {
    display: none;
}