.list-view {
    width: 100%;
}

.alert {
    margin-bottom: 0;
}
.is_debug {
    display: block;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.has-error .help-block{
    color:red;
    font-size: 14px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
a {
    color: #005b72;
}

a:hover {
    color: #005b72;
}

.btn-primary:focus {
    box-shadow: inset 0 -3px 0 #005B72;
}

.site-content {
    flex: 1;
}

.lot-info {
    background-color: #eeeeee;
}

.page-item.active .page-link {
    background-color: #005B72;
    border-color: #005B72;
}

.office-header .nav-tabs .nav-link {
    color: #005B72;
}

.grid-view .table thead tr th a {
    color: #005b72;
}